<!DOCTYPE html>
<html>
	<head>
		<style>
			Body{background:skyblue; font-family:verdana; color: #fff; padding:30px;}
			h1{font-size:48px;text-transform: uppercase;letter-spacing: 2px;text-align: center;}
			h2{font-size:40px;text-transform: uppercase;letter-spacing: 2px;text-align: center;}
			p, li{font-size: 16px; text-align: center;}
		</style>
	</head>
	<body>
		<!-- to dynamically inject data we use '< and '%' and '=' DATAYOUWANTTOUSE % and >' -->
		<h1>Welcome to the profile of <%=person %> </h1>
		<p><strong>Age:</strong> <%= data.age %> </p>
		<p><strong>Job:</strong> <%= data.job %> </p>

		<!-- to dynamically inject data with javascript with ejs tags WIHTOUT = so < and % __ % and >, 
		to inject html in between just finish line '% and >' and open another ejs tags-->
		<h2>Hobbies</h2>
			<ul>
				<% data.hobbies.forEach(function(item){ %>
					<li><%= item %></li>
				<% }); %>
			</ul>
	</body>


</html>